html, body {
  margin: 0;
  height: 100%;
}

#root, .App {
  height: 100%;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.backdrop {
  top: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.searchContainer {
  margin: 15% 10%;
  z-index: 100;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 44px;
  height: 92%
}

.pageRow {
  display: flex;
  height: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .main {
  display: flex;
} */
