.walletManager {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0 5px;
  background-color: #282828;
}

.walletFields {
}

.wallets {
  display: flex;
}

.wallet {
  height: 70px;
  width: 70px;
}
